<!DOCTYPE html>
<html lang="ca">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Els Meus Estudis - CV Web</title>
    <link rel="stylesheet" href="../css/estils.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="logo">
                <a href="../index.html"><i class="fas fa-globe"></i></a>
            </div>
            <div class="nav-container">
                <ul class="nav-links">
                    <li><a href="estudis.html"><i class="fas fa-school"></i></a></li>
                    <li><a href="experiencia.html"><i class="fas fa-id-badge"></i></a></li>
                    <li><a href="en/education.html"><i class="fa-solid fa-language"></i></a></li>
                </ul>
            </div>
        </nav>
    </header>

    <main>
        <section class="education">
            <h1><i class="fas fa-graduation-cap"></i> La Meva Formació Acadèmica</h1>
            
            <div class="education-item">
                <div class="education-date">
                    <span>2023 - 2025</span>
                </div>
                <div class="education-content">
                    <h3>Cicle Formatiu de Grau Mitja - Sistemes Microinformàtics i Xarxes</h3>
                    <p class="institution">Institut Joan XXIII, Hospitalet de Llobregat</p>
                    <p>Formació especialitzada en l'Aprenentatge de tecnologia com pot ser xarxa, configuracio de sistemes operatius fins a Ofimàtica.</p>
                </div>
            </div>
            
            <div class="education-item">
                <div class="education-date">
                    <span>2017 - 2021</span>
                </div>
                <div class="education-content">
                    <h3>Educació Secundària Obligatòria (ESO)</h3>
                    <p class="institution">Escola Nostra Senyora del Mar, El Prat de Llobregat</p>
                    <p>Formació general amb interès especial en les assignatures científiques i tecnològiques.</p>
                </div>
            </div>

    <div class="map-container">
        <h2>Ubicació de l'Institut Joan XXIII</h2>
        <div class="map-photo-row">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2995.113048888293!2d2.104722275876641!3d41.34989647130467!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12a498d64bd023fd%3A0x26089fc39cb352a3!2sJesuitas%20Bellvitge%20-%20Centro%20de%20Estudios%20Joan%20XXIII!5e0!3m2!1sca!2ses!4v1746642984562!5m2!1sca!2ses" 
                class="map-iframe" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
            </iframe>
            <img src="../img/joan23.jpg" alt="Foto de l'Institut Joan XXIII" class="map-photo">
        </div>
        <p class="map-description">Institut Joan XXIII</p>
    </div>

    <div class="map-container">
        <h2>Ubicació de la Escola Nostra Senyora del Mar</h2>
        <div class="map-photo-row">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2996.1436783095883!2d2.09350807587545!3d41.32748897130754!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12a49edb53063cc1%3A0xeba066737266ef89!2sEscola%20del%20Mar!5e0!3m2!1sca!2ses!4v1746642456918!5m2!1sca!2ses" 
                class="map-iframe" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
            </iframe>
            <img src="../img/nos.mar.jpg" alt="Foto de l'Escola Nostra Senyora del Mar" class="map-photo">
        </div>
        <p class="map-description">Escola Nostra Senyora del Mar</p>
    </div>      
    </main>

    <footer>
        <div class="footer-content">
            <div class="footer-section">
                <h3>Contacte</h3>
                <p><i class="fas fa-envelope"></i> 440301.joan23@fje.edu</p>
                <p><i class="fas fa-phone"></i> +34 685 77 53 84</p>
            </div>
            <div class="footer-section">
                <h3>Xarxes Socials</h3>
                <div class="social-links">
                    <a href="https://www.linkedin.com/in/dani-vega-macias-048653303/"><i class="fab fa-linkedin"></i></a>
                    <a href="#"><i class="fab fa-github"></i></a>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <p>&copy; 2025 El Meu Currículum Web. Tots els drets reservats.</p>
        </div>
    </footer>

</body>
</html>